:root {
    --rvt-color-tree-focus-outline: rgb(118, 221, 246);
    --rvt-color-focustree-item-selected-bg: rgb(12, 181, 252);
    --rvt-color-nonfocustree-item-selected-bg: rgb(161, 161, 161);
    --rvt-color-focustree-item-focused-outline: rgb(43, 191, 255);
    --rvt-color-nonfocustree-item-focused-outline: rgb(219, 219, 219);
    --rvt-color-focustree-item-draggingover-bg: rgb(142, 222, 255);
    --rvt-color-search-highlight-bg: rgb(43, 255, 156);
    --rvt-color-drag-between-line-bg: rgb(142, 222, 255);

    --rvt-color-renaming-input-submitbutton-bg: inherit;
    --rct-color-renaming-input-submitbutton-bg-hover: #0366D6;
    --rct-color-renaming-input-submitbutton-bg-active: #095fc1;

    --rct-color-renaming-input-submitbutton-text: inherit;
    --rct-color-renaming-input-submitbutton-text-hover: #ffffff;
    --rct-color-renaming-input-submitbutton-text-active: #ffffff;

    --rct-color-arrow: #9aa5b3;
}

.rvt-tree-root {
    font-family: sans-serif;
    padding: 4px 0;
}

.rvt-tree-root-focus {
    /* outline: 3px solid var(--rvt-color-tree-focus-outline); */
}

.rvt-tree-item-li {
    font-size: .8rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rvt-tree-item-title-container {
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.rvt-tree-child-list {}

.rvt-tree-item-button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    height: 25px;
    text-align: left;
    color: inherit;
    outline: none;
}

.rvt-tree-item-arrow {
    width: 16px;
}

.rvt-tree-item-arrow svg {
    width: 16px;
}

.rvt-tree-item-arrow-path {
    fill: var(--rct-color-arrow);
}

.rvt-tree-items-container {
    margin: 0;
    padding: 0;
}

.rvt-tree-root:not(.rvt-tree-root-focus) .rvt-tree-item-title-container-selected {
    background-color: var(--rvt-color-nonfocustree-item-selected-bg);
    color: #fff;
}

.rvt-tree-root.rvt-tree-root-focus .rvt-tree-item-title-container-selected {
    background-color: var(--rvt-color-focustree-item-selected-bg);
    color: #fff;
}

.rvt-tree-root.rvt-tree-root-focus .rvt-tree-item-title-container-focused {
    box-shadow: inset 0 0 0 2px var(--rvt-color-focustree-item-focused-outline);
}

.rvt-tree-root:not(.rvt-tree-root-focus) .rvt-tree-item-title-container-focused {
    box-shadow: inset 0 0 0 2px var(--rvt-color-nonfocustree-item-focused-outline);
}

.rvt-tree-item-title-container-dragging-over {
    background-color: var(--rvt-color-focustree-item-draggingover-bg);
}

.rvt-tree-item-button-search-match {
    font-style: italic;
}

.rvt-tree-item-search-highlight {
    background-color: var(--rvt-color-search-highlight-bg);
}

.rvt-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: var(--rvt-color-drag-between-line-bg);
}

.rvt-tree-drag-between-line-top {
    top: 0px;
}

.rvt-tree-drag-between-line-bottom {
    top: -4px
}

.rvt-tree-search-input-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
}

.rvt-tree-search-input {
    position: fixed;
    width: 120px;
}

.rvt-tree-item-renaming-form {
    flex-grow: 1;
    display: flex;
}

.rvt-tree-item-renaming-input {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    color: inherit;
    outline: none;
}

.rvt-tree-item-renaming-submit-button {
    border: none;
    background-color: var(--rvt-color-renaming-input-submitbutton-bg);
    border-radius: 999px;
    color: var(--rct-color-renaming-input-submitbutton-text);
    cursor: pointer;
}

.rvt-tree-item-renaming-submit-button:hover {
    background-color: var(--rvt-color-renaming-input-submitbutton-bg-hover);
    color: var(--rct-color-renaming-input-submitbutton-text-hover);
}

.rvt-tree-item-renaming-submit-button:active {
    background-color: var(--rvt-color-renaming-input-submitbutton-bg-active);
    color: var(--rct-color-renaming-input-submitbutton-text-active);
}