.rvt-tree-root {}

.rvt-tree-child-list {}

.rvt-tree-item-button.rvt-tree-item-button-hasChildren:before {
    content: '🞂';
    width: 20px;
    display: inline-block;
    text-align: left;
    padding-bottom: 4px;
}

.rvt-tree-item-button-expanded.rvt-tree-item-button-hasChildren:before {
    content: '🞃';
}

.rvt-tree-item-button {
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
    text-align: left;
}

.rvt-tree-item-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-bottom: 1px solid black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rvt-tree-item-li-selected {
    background-color: rgb(12, 181, 252);
}

.rvt-tree-item-li-dragging-over {
    background-color: rgb(142, 222, 255);
}

.rvt-tree-drag-between-line {
    position: absolute;
    right: 0;
    top: -2px;
    height: 4px;
    background-color: rgb(142, 222, 255);
}

.rvt-tree-drag-between-line-top {
    top: 0px;
}

.rvt-tree-drag-between-line-bottom {
    top: -4px
}