.previewBox {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    /* Prevents interfering with drop targets */
    pointer-events: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    /* For positioning the count badge */
    position: relative;
}

.countBadge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
