.container {
    position: relative;
    margin-left: 20px;
}

.clippedFolder {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-inline-start: 4px;
}

.clippedFile {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 20px;
}

.placeholder-top {
    border-top: 5px solid #ff1842 !important;
}

.placeholder-bottom {
    border-bottom: 5px solid #ff1842 !important;
}